<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roomey Reset Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="section">
        <div class="pic"></div>
        <span class="text"
          >Hello Daniel,<br /><br />We received a request to reset the password for your Roomey account. If you didn't
          make this request, please ignore this email.</span
        >
      </div>
      <div class="box">
        <span class="text-2"
          >To reset your password, click the button below. This link will expire in 24 hours for security reasons.</span
        >
        <div class="section-2">
              <!-- TODO: Update link -->
            <a href="https://roomey.com/reset-password?token=abcdef123456" class="text-3">Reset Password</a></div>
        <span class="text-4"
          >Note: <br />For your security, we recommend choosing a strong, unique password that you haven't used on other
          websites.</span
        >
        <div class="section-3">
          <span class="text-5"
            >If you're having trouble with the button above, you can also copy and paste the following link into your
            browser:<br /><br /></span
          >
          <!-- TODO: Update link -->
          <a href="https://roomey.com/reset-password?token=abcdef123456" class="text-6">https://roomey.com/reset-password?token=abcdef123456<br /></a
          ><span class="text-7"><br /></span
          ><span class="text-8"
            >If you didn't request a password reset, please contact our support team immediately.</span
          >
        </div>
        <div class="line"></div>
      </div>
      <div class="wrapper">
        <div class="section-4">
          <!-- TODO: Update the href with roomey social links -->
          <a href="#" class="twitter"></a>
          <a href="#" class="facebook"></a>
          <a href="#" class="linkedln"></a>
        </div>
        <div class="logo"></div>
        <div class="box-2">
          <span class="text-9">Copyright © 2024<br /></span
          ><span class="text-a">Move in with confidence—secure your home before you land.</span>
        </div>
      </div>
    </div>
  </body>
</html>
