<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roomey Verification Code</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="section">
        <div class="pic"></div>
        <span class="text"
          >Hello Daniel,<br /><br />You've requested a one-time password (OTP) for your Roomey account. Please use the following code to complete your action:</span
        >
      </div>
      <br />
      <div class="box">
        <div class="code-container"><span class="code-text"><b>123456</b></span></div>
        <span class="text-5"
          >This code will expire in <b> 10 minutes</b></span
        >
        <div class="section-3">
          <span class="text-5"
            >If you didn't request this code, please ignore this email. <br /><br /></span
          ><span class="text-5">For your account's security, do not share this code with anyone, including <br /></span
          >
            <!-- TODO: update to roomey support email -->
          <a href="mailto:roomey@gmail.com" class="text-5">Roomey support.<br /><br /></a
          ><span class="text-5"
            >If you're concerned about the security of your account or have any questions, please contact our support team immediately.</span
          >
        </div>
      </div>
      <div class="wrapper">
        <div class="section-4">
          <!-- TODO: Update the href with roomey social links -->
          <a href="#" class="twitter"></a>
          <a href="#" class="facebook"></a>
          <a href="#" class="linkedln"></a>
        </div>
        <div class="logo"></div>
        <div class="box-2">
            <!-- TODO: Use code to dynamically update year -->
          <span class="text-9">Copyright © 2024<br /></span
          ><span class="text-a">Move in with confidence—secure your home before you land.</span>
        </div>
      </div>
    </div>
  </body>
</html>
